<?php
define('DB_NAME', '{{ db_wp_name }}');
define('DB_USER', '{{ db_wp_user }}');
define('DB_PASSWORD', '{{ db_wp_password }}');
define('DB_HOST', '{{ db_wp_host }}');
$table_prefix  = 'wp_';
require_once(ABSPATH . 'wp-settings.php');